
body {
    background: #620073;
    font-family: Arial;
}
h1 {
    color: red;
}
/* INWKSVjMD7GKfIDbOpp0nis7DiEVEswxV8220yw2orVyHbltvlFwj0s8x5LxgWeizUDJpyMSQjh0G1BoCYIqpsmMNPFudWCi5jOjbmED6REiTTh61Spr4BuRSqDmEUjlfhStxuYInUGdf2zNGCnh2jgAff7iqoGYVRzFpbClAJILfLwP4A2C60pXzwzkpHtQhzTFCBVM */
